
html {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(116, 19, 19);
    height: 100px;


}

.a {
    color: red;
}

.bir {
    
    width: 100%;
}
.iki {
   
    height: 1000px;
    width: 100%;

}
.uc {
    
    height: 800px;
    width: 100%;
}
.col-6 
    
    height: 500px;
    width: 100%;
}

.card-img {
    height: 400px;
}

.dort {
    background-color: black;
}

.birr {
    color:#FF7878;
}

.ikii {
    color:#8BABF5;
}

.ucc {
    color: #B6FFB1;
}

.bes  {
    background-image: url("Scroll\ Group\ 1.jpg");
    top: 6349px;
    left: -22px;
    width: 100%;
    height: 800px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color:black;
    color: white;
    height: 150px;
  }
